[alias]
    a = add
    adog = log --all --decorate --oneline --graph
    b = branch
    c = commit
    cl = clone
    co = checkout
    d = diff
    l = log
    r = restore
    st = status
    up = pull
[core]
    editor = nvim
