# General
alias l="ls -hl"
alias memo="vim $HOME/.memo.txt"
alias scratch="vim $HOME/.scratch.txt"
alias v="vim"
alias valiases="vim $HOME/.aliases"

# Taskwarrior
alias t="task"
alias ta="task add"
alias tcal="task calendar"
alias tcns="task pro:CNS"

# Work
alias wmemo="vim $HOME/work/memo.txt"
alias wtm="vim $HOME/work/tm.txt"

# Xcode
alias xcleandd="rm -rf $HOME/Library/Developer/Xcode/DerivedData"
alias xcleansim="xcrun simctl erase all"
